<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmiteMixerCodeGrabberGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SmiteMixerCodeGrabberGUI.Properties.Settings>
            <setting name="notificationSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AFKMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="whitelistOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="codeLength" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="codesStartWith" serializeAs="String">
                <value>AP</value>
            </setting>
            <setting name="whitelistedUsernames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Scottybot</string>
                        <string>HiRezAuvey</string>
                        <string>HiRezHinduman</string>
                        <string>HiRezFinch</string>
                        <string>HiRezVinny</string>
                        <string>HiRezTaco</string>
                        <string>HiRezRude</string>
                        <string>LeTigress</string>
                        <string>Fdt</string>
                        <string>PeccYz</string>
                        <string>Aggro</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="notificationSoundFilePath" serializeAs="String">
                <value>Beep.wav</value>
            </setting>
            <setting name="notificationSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smiteWindowTitle" serializeAs="String">
                <value>Current Smite Client: SMITE Client Not Found (Automation Disabled).</value>
            </setting>
            <setting name="minimiseAfterRedeeming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shouldMinimise" serializeAs="String">
                <value>False</value>
            </setting>
        </SmiteMixerCodeGrabberGUI.Properties.Settings>
    </userSettings>
</configuration>